.c-heading {
  color: $white;

  &--level1 {
    font-size: $font-size-1;
    font-weight: 900;
    line-height: $line-height-base * 0.8;
    margin-top: $grid-base * 10;
    margin-bottom: $grid-base * 4.5;
  }

  &--level2 {
    font-size: $font-size-2;
    font-weight: 900;
    line-height: $line-height-base * 0.8;
    margin: $grid-base * 3 0 $grid-base * 4.5 0;
    //margin-bottom: $grid-base * 4.5;
  }

  &--level3 {
    color: $accent;
    font-size: $font-size-4;
    font-weight: 900;
    margin-bottom: $grid-base * 3;
    line-height: $grid-base * 2.6;
  }
}
