.c-input {
  background-color: $primary;
  border-color: $white;
  border-style: solid;
  border-radius: $border-radius * 2;
  margin-bottom: $grid-base * 1.7;
  font-size: $font-size-5;
  font-weight: 400;
  line-height: $line-height-base;
  padding: 1rem 1.25rem;

  &::placeholder {
    color: $white;
  }

  &::-moz-placeholder {
    color: $white;
    opacity: 1;
  }

  &:-ms-placeholder {
    color: $white;
  }

  &__appo--large {
    width: 100%;
  }
}
