.c-nav {
  display: inline-flex;
  &__item {
    color: $black;
    font-size: $font-size-6;
    font-weight: bold;
    padding: 55px 29px 39px 41px;
    text-align: center;
    line-height: $line-height-sm;
    width: 100%;

    &:hover {
      text-decoration: revert;
      color: $gray-dark;
      transition-duration: 0.4s;
    }
  }

  &__show-menu {
    cursor: pointer;
  }

  &__show-item {
    margin-left: -15px;
    padding-right: 16px;
  }
}
