*, *::before, *::after {
  box-sizing: border-box; }

body {
  background-color: #f5f5f5;
  color: #4b4b4b;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    font-size: 1rem; }

img {
  max-width: 100%; }

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin: 0;
  margin-bottom: 10px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1.375;
  margin: 0; }

a {
  color: #4b4b4b;
  text-decoration: none; }
  a:hover {
    color: #4b4b4b;
    text-decoration: underline; }

.o-col {
  padding-left: 15px;
  padding-right: 15px; }
  .o-col--no-padding {
    padding: 0; }
  @media (min-width: 800px) {
    .o-col--md25 {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 800px) {
    .o-col--md33 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%; } }
  @media (min-width: 800px) {
    .o-col--md50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 1200px) {
    .o-col--lg25 {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 1200px) {
    .o-col--lg33 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%; } }
  @media (min-width: 1200px) {
    .o-col--lg50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 1200px) {
    .o-col--lg75 {
      flex: 0 0 75%;
      max-width: 75%; } }

.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  @media (min-width: 800px) {
    .o-container {
      max-width: 740px; } }
  @media (min-width: 1200px) {
    .o-container {
      max-width: 1020px; } }

.o-row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px; }
  @media (min-width: 800px) {
    .o-row {
      flex-direction: row; } }
  .o-row--center-y {
    align-items: center; }
  .o-row--gutter-0 {
    margin-left: 0px;
    margin-right: 0px; }
    .o-row--gutter-0 .o-col {
      padding-left: 0;
      padding-right: 0; }

.c-btn {
  background-color: #f2726f;
  border: none;
  border-radius: 6.25px;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.0625rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap; }
  .c-btn:hover {
    background-color: #dc4946;
    color: #ffffff;
    text-decoration: none;
    transition-duration: 0.5s; }
  .c-btn__header-top {
    display: inline-block;
    max-height: 40px;
    padding: 11px 1rem;
    text-align: center;
    width: 100%; }
  .c-btn__header-hero {
    max-height: 48px;
    max-width: 21px;
    padding: 14px 4rem;
    text-align: center;
    filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2)); }
  .c-btn_offer {
    max-height: 48px;
    max-width: 21px;
    padding: 14px 4rem;
    text-align: center; }
  .c-btn__services {
    padding: 11px 1rem; }
  .c-btn__appo {
    padding: 11px 1rem;
    margin-bottom: 30px; }

.c-heading {
  color: #ffffff; }
  .c-heading--level1 {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 100px;
    margin-bottom: 45px; }
  .c-heading--level2 {
    font-size: 2.25rem;
    font-weight: 900;
    line-height: 1.2;
    margin: 30px 0 45px 0; }
  .c-heading--level3 {
    color: #f2726f;
    font-size: 1.1875rem;
    font-weight: 900;
    margin-bottom: 30px;
    line-height: 26px; }

.c-input {
  background-color: #5d62b5;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  margin-bottom: 21px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
  padding: 1rem 1.25rem;
  width: 100%; }
  .c-input:focus {
    border: 2px solid #29c3be; }
  .c-input::placeholder {
    color: #ffffff; }
  .c-input::-moz-placeholder {
    color: #ffffff;
    opacity: 1; }
  .c-input:-ms-placeholder {
    color: #ffffff; }
  .c-input__appo--large {
    font-family: inherit;
    resize: none;
    width: 100%; }

.c-label {
  display: flex;
  align-items: center; }
  .c-label__text {
    color: #f5f5f5;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    text-transform: uppercase; }
  .c-label__text--2 {
    color: #5d62b5;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    text-transform: uppercase; }

.c-nav__item {
  color: #000000;
  display: inline;
  font-size: 0.875rem;
  font-weight: bold;
  padding: 25px 5px 25px 35px;
  text-align: center;
  line-height: 1.375;
  width: 100%; }
  .c-nav__item:hover {
    text-decoration: revert;
    color: #4b4b4b;
    transition-duration: 0.4s; }

.c-nav__unfold-menu {
  display: inline-flex; }

.c-nav__unfold-item {
  left: 5px; }

.t-appo {
  background-image: url("/images/appo_background.png");
  margin-top: 70px;
  position: relative;
  min-height: 1262px;
  padding-top: 139px;
  z-index: 2; }
  .t-appo::after {
    content: "";
    background-image: url("/images/stylize-1.svg");
    width: 201px;
    height: 317px;
    left: 215px;
    top: 494px;
    position: absolute;
    transform: rotate(180deg);
    z-index: -1; }
  .t-appo::before {
    content: "";
    background-image: url("/images/blob.svg");
    background-repeat: no-repeat;
    height: 371.25px;
    width: 553.25px;
    top: 407px;
    left: 179px;
    position: absolute;
    transform: rotate(287deg);
    z-index: -1; }
  .t-appo__form {
    background-color: #5d62b5;
    border-radius: 40px;
    max-width: 585px;
    max-height: 640px;
    padding: 18px 39.56px;
    z-index: 1; }
  .t-appo__box-info {
    align-items: center;
    padding-left: 120px; }
    .t-appo__box-info p {
      color: #ffffff;
      font-weight: 900;
      text-align: center; }
    .t-appo__box-info--top-text {
      font-size: 1.875rem;
      line-height: 36px; }
    .t-appo__box-info--number {
      font-size: 96px;
      line-height: 56px; }
    .t-appo__box-info--bottom-text {
      font-size: 1.1875rem;
      line-height: 26px; }

.t-customers {
  padding-top: 50px; }
  .t-customers__person {
    padding-top: 10px; }
  .t-customers__photo {
    border-radius: 50px;
    margin-right: 10px; }
  .t-customers p {
    margin: 0; }

.t-gallery__container--inside {
  background-color: #5d62b5;
  border-radius: 40px;
  color: #ffffff;
  min-height: 700px;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-right: 90px;
  padding-left: 90px;
  position: relative;
  top: -93px;
  z-index: 2; }

.t-gallery__tab-item {
  color: #ffffff;
  display: block;
  text-align: center;
  position: relative;
  padding-bottom: 10px; }
  .t-gallery__tab-item:hover {
    color: #29c3be;
    text-decoration: none;
    transition: 0.5s; }
  .t-gallery__tab-item::before {
    content: "";
    border-bottom: solid 1px #ffffff;
    display: block;
    opacity: 15%;
    position: absolute;
    bottom: 0;
    width: 100%; }

.t-gallery--active:before {
  border-width: 3px;
  opacity: 100%;
  bottom: -1px; }

.t-gallery__icon-live::after {
  content: "";
  background-color: #62b58f;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 2px;
  width: 6px;
  height: 6px; }

.t-gallery__icon-live--off::after {
  background-color: #f5f5f5; }

.t-gallery__img {
  border-radius: 20px;
  width: 846px;
  height: 480px;
  position: absolute;
  z-index: 3;
  top: 318px;
  left: auto; }

.t-impact {
  background-color: #29c3be;
  margin-top: 210px;
  position: relative;
  padding-top: 111px; }
  .t-impact__img {
    border-radius: 40px;
    max-width: 498px;
    max-height: 315px;
    position: absolute;
    top: -80px; }

.t-intro {
  position: relative;
  z-index: 2; }
  .t-intro__container {
    background-color: #5d62b5;
    border-radius: 40px;
    margin-bottom: 197px;
    min-height: 700px;
    position: relative;
    z-index: 1; }
    .t-intro__container::after {
      content: "";
      background-image: url("/images/stylize-1.svg");
      width: 201px;
      height: 317px;
      position: absolute;
      right: -79px;
      top: -108px;
      z-index: 2; }
  .t-intro__container--inside {
    margin-bottom: 100px;
    min-height: 700px;
    padding-top: 100px;
    padding-right: 90px;
    padding-left: 90px;
    position: relative; }
    .t-intro__container--inside::before {
      content: "";
      background-image: url("/images/blob.svg");
      background-repeat: no-repeat;
      height: 371.25px;
      width: 553.25px;
      position: absolute;
      top: 368px;
      left: 70px;
      z-index: -1; }
    .t-intro__container--inside__photo {
      bottom: -114px;
      border-radius: 50px;
      box-shadow: 0px 16px 24px 0px #26262633;
      margin-top: -48px;
      right: auto;
      left: auto;
      position: relative;
      z-index: 4; }
  .t-intro p {
    color: #ffffff;
    text-align: justify; }

.t-offer___box {
  justify-content: space-between; }

.t-offer__box--text {
  padding-left: 25px; }

.t-offer__icon {
  width: 63px;
  height: 63px;
  max-width: none; }

.t-offer_label--icon {
  width: 26.53px;
  height: 26.47px;
  margin-left: -4px; }

.t-offer__banner {
  min-height: 500px;
  padding-top: 100px;
  margin-bottom: 300px; }
  .t-offer__banner::before {
    content: "";
    display: block;
    background-image: url("/images/offer_bannerJPG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    height: 550px;
    position: absolute;
    z-index: -1; }
  .t-offer__banner__banner--right {
    padding-left: 133px;
    padding-right: 91px;
    padding-top: 94px;
    position: relative; }

.t-services {
  position: relative; }
  .t-services::before {
    content: "";
    display: block;
    background-image: url("/images/services_blob.svg");
    background-repeat: no-repeat;
    background-size: cover;
    right: -311px;
    height: 552.25px;
    top: -150px;
    width: 614.25px;
    position: absolute;
    transform: rotate(-90deg);
    z-index: -2; }
  .t-services__box {
    background-color: #ffffff;
    border-radius: 20px;
    display: block;
    height: 100%;
    padding: 50px 44px 50px 43px;
    text-align: center; }
    .t-services__box:hover {
      box-shadow: 0px 16px 24px 0px #26262633;
      text-decoration: none;
      transition-duration: 0.5s; }

.t-site-header {
  min-height: 720px;
  position: relative;
  z-index: 1; }
  .t-site-header::before {
    content: "";
    display: block;
    background-image: url("../images/background.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -80px;
    top: 0;
    z-index: -1; }
  .t-site-header__container {
    position: relative;
    z-index: 0; }
  .t-site-header__logo {
    height: 43px;
    width: auto;
    color: #f2726f; }
  .t-site-header__top-item {
    color: #ffffff;
    display: inline-flex;
    flex-direction: column;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 0.0625rem;
    text-align: left; }
  .t-site-header__box {
    align-items: baseline;
    float: left;
    margin-left: 10px; }
  .t-site-header__icon {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    float: left; }
  .t-site-header__col {
    min-width: 240px; }
    .t-site-header__col--mod {
      margin-right: -40px; }
  .t-site-header__menu {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    display: inline-flex;
    height: 60px;
    width: 100%; }
  .t-site-header__nav {
    display: inline-flex;
    justify-content: space-between; }
  .t-site-header__nav-icons {
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 20px; }
    .t-site-header__nav-icons--number {
      background-color: #f2726f;
      border-radius: 50%;
      color: #ffffff;
      font-size: 0.625rem;
      line-height: 14px;
      margin-left: -5px;
      position: absolute;
      text-align: center;
      top: -5px;
      width: 14px; }
  .t-site-header__nav-icon {
    margin: auto 10px;
    position: relative; }
  .t-site-header__row {
    min-height: 96px; }
  .t-site-header__hero {
    display: block;
    max-width: 1440px;
    padding-bottom: 50px; }

.u-bg-white {
  background-color: #ffffff; }

.u-bg-light {
  background-color: #f5f5f5; }

.u-white {
  color: #ffffff; }

.u-accent {
  color: #f2726f; }

.u-black {
  color: #000000; }

.u-font-bold {
  font-weight: bold; }

.u-flex-start {
  align-items: flex-start; }

.u-flex-end {
  justify-content: flex-end; }

.u-flex-space-between {
  justify-content: space-between; }

.u-flex-center {
  justify-content: center; }

.u-flex-stretch {
  align-items: stretch; }

.u-flex-grow--1 {
  flex-grow: 1; }

.u-flex-grow--2 {
  flex-grow: 2; }

.u-overflow-h {
  overflow: hidden; }

.u-text-center {
  text-align: center; }

.u-text-right {
  text-align: right; }

@media (min-width: 1200px) {
  .u-text-lg-right {
    text-align: right !important; } }

.u-text-uppercase {
  text-transform: uppercase; }

.u-height-100 {
  height: 100%; }

.u-mb-1 {
  margin-bottom: 10px; }

.u-mb-2 {
  margin-bottom: 20px; }

.u-mb-3 {
  margin-bottom: 30px; }

.u-mb-5 {
  margin-bottom: 50px; }

.u-mt-1 {
  margin-top: 10px; }

.u-mt-2 {
  margin-top: 20px; }

.u-mt-3 {
  margin-top: 30px; }

.u-pr-1 {
  padding-right: 10px; }

.u-pr-2 {
  padding-right: 20px; }

.u-pr-3 {
  padding-right: 30px; }
