.u-flex-start {
  align-items: flex-start; //wyrównanie do góry
}

.u-flex-end {
  justify-content: flex-end; //wyrównanie do prawej
}

.u-flex-space-between {
  justify-content: space-between; //wyrównuje element jeden do prawej drugi do lewej strony
}

.u-flex-center {
  justify-content: center;
}

.u-flex-stretch {
  align-items: stretch; //wyrównuje wysokość elementów
}
