.u-mb-1 {
  margin-bottom: $grid-base;
}

.u-mb-2 {
  margin-bottom: $grid-base * 2;
}

.u-mb-3 {
  margin-bottom: $grid-base * 3;
}

.u-mb-5 {
  margin-bottom: $grid-base * 5;
}

.u-mt-1 {
  margin-top: $grid-base;
}

.u-mt-2 {
  margin-top: $grid-base * 2;
}

.u-mt-3 {
  margin-top: $grid-base * 3;
}

.u-pr-1 {
  padding-right: $grid-base;
}

.u-pr-2 {
  padding-right: $grid-base * 2;
}

.u-pr-3 {
  padding-right: $grid-base * 3;
}
