.t-appo {
  background-image: url("/images/appo_background.png");
  margin-top: $grid-base * 7;
  position: relative;
  min-height: 1262px;
  padding-top: 139px;

  &__form {
    background-color: $primary;
    border-radius: 40px;
    max-width: 585px;
    max-height: 640px;
    padding: 18px 39.56px;
  }

  &__box-info {
    align-items: center;
    padding-left: $grid-base * 12;
    p {
      color: $white;
      font-weight: 900;
      text-align: center;
    }
    &--top-text {
      font-size: $font-size-3;
      line-height: 36px;
    }
    &--number {
      font-size: 96px;
      line-height: 56px;
    }
    &--bottom-text {
      font-size: $font-size-4;
      line-height: 26px;
    }
  }
}
