.t-impact {
  background-color: $green;
  margin-top: 210px;
  position: relative;
  padding-top: 111px;

  &__img {
    border-radius: 40px;
    max-width: 498px;
    max-height: 315px;
    position: absolute;
    top: -80px;
  }
}
