.t-impact {
  background-color: $green;
  margin-top: 210px;
  position: relative;
  padding-top: $grid-base * 11.1;
  padding-bottom: $grid-base * 17;

  &__img {
    border-radius: 40px;
    position: relative;
    top: -178px;
  }

  &__box {
    max-width: 237px;
    max-height: 76px;
    //display: block;

    &--number {
      font-size: $font-size-2;
      color: $white;
      font-weight: bold;
    }

    &--text {
      color: $primary;
      font-size: $font-size-5;
      font-weight: 700;
    }
  }

  &__contener--inside {
    background-color: #5d62b5;
    border-radius: 20px;
    color: #ffffff;
    min-height: 150px;

    padding: 43px 76px 46px 70px;
    //padding-right: 76px;
    //padding-bottom: 46px;
    // padding-left: 70px;
    position: relative;
    top: 102px;
    z-index: 2;

    p {
      color: $white;
      font-size: 24px;
      font-weight: 900;
    }
  }
}
