.t-impact {
  background-color: $green;
  margin-top: 210px;
  position: relative;
  padding-top: 111px;

  &__img {
    border-radius: 40px;
    max-width: 498px;
    max-height: 315px;
    position: absolute;
    top: -80px;
  }

  &__box {
    max-width: 237px;
    max-height: 76px;
    display: block;

    &--number {
      font-size: $font-size-2;
      color: $white;
      font-weight: bold;
    }

    &--text {
      font-size: $font-size-5;
      color: $primary;
    }
  }
}
