.t-intro {
  //background-color: $gray-light;

  &__container::before {
    content: "";
    height: 720px;
    background-color: $primary;
    border-radius: $grid-base * 4;
    //padding-top: $grid-base * 10;
    //padding-right: $grid-base * 8;
    //padding-left: $grid-base * 8;
    position: absolute;
    width: 1020px;
    z-index: -1;
  }

  &__container--inside {
    padding-top: $grid-base * 10;
    padding-right: $grid-base * 9;
    padding-left: $grid-base * 9;
  }

  p {
    color: $white;
    text-align: justify;
  }

  &__stylize--1::after {
    content: "";
    background-image: url("/images/stylize-1.svg");
    height: 317px;
    right: 41px;
    margin-top: -$grid-base * 10;
    position: absolute;
    width: 201px;
    z-index: 2;
  }

  &__stylize--2::before {
    content: "";
    background-image: url("/images/blob.svg");
    background-repeat: no-repeat;
    //box-shadow: 13px 10px 181px 15px rgba(0, 0, 0, 0.6) inset;
    //-webkit-box-shadow: 13px 10px 181px 15px rgba(0, 0, 0, 0.6) inset;
    //-moz-box-shadow: 13px 10px 181px 15px rgba(0, 0, 0, 0.6) inset;
    // NIE WIEM JAK ZROBIC CIENIE SAMEGO ELEMENTU - dwa cienie jeden od srodka a drugi maskujacy krawiedzie?
    //box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.16) inset;
    //box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12) inset;
    //box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12) inset;
    //box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12) inset;

    height: 371.25px;
    //left: $grid-base * 5;
    margin-top: 8px;
    margin-left: 62px;

    width: 553.25px;
    position: absolute;
    z-index: -1;
  }

  &__photo {
    border-radius: 50px;
    box-shadow: 0px 16px 24px 0px #26262633;
    box-shadow: 0px 8px 16px 0px #2626263d;
    display: block;
    margin: $grid-base * 6 auto $grid-base * 10 auto;
    //margin-left: auto;
    //margin-right: auto;
    width: 846px;
    z-index: 4;
  }
}
