.t-intro {
  position: relative;
  z-index: 2;

  &__container {
    background-color: $primary;
    border-radius: $grid-base * 4;
    margin-bottom: 197px;
    min-height: 700px;
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      background-image: url("/images/stylize-1.svg");
      width: 201px;
      height: 317px;
      position: absolute;
      right: -79px;
      top: -108px;
      z-index: 2;
    }
  }

  &__container--inside {
    margin-bottom: $grid-base * 10;
    min-height: 700px;
    padding-top: $grid-base * 10;
    padding-right: $grid-base * 9;
    padding-left: $grid-base * 9;
    position: relative;

    &::before {
      content: "";
      background-image: url("/images/blob.svg");
      background-repeat: no-repeat;
      height: 371.25px;
      width: 553.25px;
      position: absolute;
      top: 368px;
      left: 70px;
      z-index: -1;
    }

    &__photo {
      bottom: -114px;
      border-radius: 50px;
      box-shadow: 0px 16px 24px 0px #26262633;
      margin-top: -48px;
      right: auto;
      left: auto;
      position: relative;
      z-index: 4;
    }
  }

  p {
    color: $white;
    text-align: justify;
  }
}
