.t-offer {
  &___box {
    justify-content: space-between;
  }

  &__box--text {
    padding-left: $grid-base * 2.5;
  }

  &__icon {
    width: 63px;
    height: 63px;
    max-width: none;
  }

  &_label--icon {
    width: 26.53px;
    height: 26.47px;
    margin-left: -4px;
  }
  &__banner {
    min-height: 500px;
    padding-top: 100px;
    margin-bottom: 300px;

    &::before {
      content: "";
      display: block;
      background-image: url("/images/offer_bannerJPG.jpg");
      background-repeat: no-repeat;

      background-size: cover;

      left: 0;
      right: 0;
      width: 1898px;
      height: 659px;
      position: absolute;
      z-index: -1;
    }
  }
  &__banner--right {
    padding-left: $grid-base * 60.2;
    padding-right: $grid-base * 22.7;
    padding-top: $grid-base * 9.4;
    position: absolute;
  }
}
