.t-services {
  position: relative;
  &::before {
    content: "";
    display: block;
    background-image: url("/images/services_blob.svg");
    background-repeat: no-repeat;
    background-size: cover;
    right: -311px;
    height: 552.25px;
    top: -150px;
    width: 614.25px;
    position: absolute;
    transform: rotate(-90deg);
    z-index: -2;
  }

  &__box {
    background-color: $white;
    border-radius: 20px;
    display: block;
    height: 100%;
    padding: 50px 44px 50px 43px;
    text-align: center;

    &:hover {
      box-shadow: 0px 16px 24px 0px #26262633;
      text-decoration: none;
      transition-duration: 0.5s;
    }
  }
}
