.t-services {
  &__box {
    background-color: $white;
    border-radius: 20px;
    display: block;
    margin-bottom: $grid-base * 2.4;
    padding: 50px 44px 50px 43px;
    text-align: center;

    &:hover {
      box-shadow: 0px 16px 24px 0px #26262633;
      text-decoration: none;
      transition-duration: 0.5s;
    }
  }
}
