.t-site-footer {
  &__main {
    background-color: $gray-light;
    color: $gray-dark;
    font-size: $font-size-6;
    padding-top: $grid-base * 17.5;
    padding-bottom: $grid-base * 10;

    a {
      font-size: $font-size-6;
      font-weight: 700;
      line-height: $line-height-lg;
      margin-bottom: $grid-base * 1.2;
    }
  }

  &__logo {
    max-width: 174px;
    margin-bottom: 23px;
  }

  &__copy {
    background-color: $primary;
    padding-top: 23.31px;
    padding-bottom: 18.69px;

    p {
      color: $white;
      font-size: $font-size-7;
    }
  }

  &__sm-icon {
    min-width: 24px;
  }

  &__contact-icon {
    min-width: 16px;
    margin-right: 15px;
    padding-top: 10px;
  }

  &__icon-box {
    margin-top: $grid-base * 8;
  }
}
